
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #eeb8b8;
    background-color: #fa9292;
    color: #000000;
}

.box img {
    max-width:  100%;
    height: auto;
    margin-bottom: 20px;
}

main img {
    width: 70px;
    float:right;
    margin: 1px;
    
}

aside {
    position: relative;
}

aside h2 {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
}

footer nav {
    margin-bottom: 10px;
}

footer nav a {
    margin-right: 10px;
    color: #000000;
    text-decoration: none;
}
